



<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Home</h1>
<!--  <p>
    This is the Home Page
  </p>
  <% #link_to "Sign up now!",  signup_path , class: "btn btn-large btn-primary" %>

-->
<p style="margin: 0 auto;width:400px;margin-top:30px;"> UofT Calendar is a software intended for conflict scheduling specifically for professors. Quick access to visual course schedules can be used to build a comfortable timetable for both students and professor. The current project provides conflict resolution tools, and is intended to continue being built upon.

Please sign in for access to your course schedule, if you do not yet have an account please contact imperium.rizvi@mail.utoronto.ca. </p>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
