
<div id="list" style="float:left;margin-top:100px;width:500px;">
	<h1> Assignments for <%= @coursename  %></h1>
	<h3>List of Assignments for this course</h3>
	<p><%= @final %></p>
</div>

<div id="stdlist" style="float:left;margin-top:100px;width:500px;">
	
	<h3>Students taking this course</h3>
	<p><%= @std_tojson %></p>
</div>
