<% @courses.each do |course| %>
<%= course.code%>
<% end %>

<%= javascript_include_tag "calendarBuilder.js" %>
<script type="text/javascript">	
	$(document).ready(function(){
		<% @courses.each do |course| %>
		<% course.start = course.start.to_time.to_i %>
		<% course.end = course.end.to_time.to_i %>
		<% end %>

		var coursesToJSON = <%= raw @courses.to_json %> ;

		buildCalendar(coursesToJSON);	
	});
</script>

<h1>Assignment Details </h1>

	<h6>All students</h6>
	<p><%= @final %></p>


<div id="calendar" ></div>
