
<h1>Assignment Details </h1>
<h6>All students</h6>
<p><%= @students %></p>
<h6>All Courses of the students</h6>
<p><%=  @courses %></p>
<h6>All assignments of the students</h6>
<p><%=  @assignments %></p>

<div id="calendar" ></div>
