<h1>Listing students</h1>

<table>
  <tr>
    <th>cid</th>
    <th>due</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= @course.cid %></td>
    <td><%= @course.submit_date %></td>
  </tr>
</table>

<br />

