<footer class="footer">
  <small>
    UofT Calendar and Schedule Manager
  </small>
  <nav>
    <br />
    <p class='notice'><%= notice %></p>
    <p class='alert'> <%= alert %></p>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://www.utsc.utoronto.ca">UTSC</a></li>
    </ul>
  </nav>
</footer>
